.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.02) 100%);
  border-radius: 15px;
  color: #fff;
  padding: 10px 5px 5px 10px;
  height: 390px;
  
  &-tabs {
  //  margin-top: 20px;

    margin-bottom: 15px;
    
    &-header {
      height: 35px;

      &-image {
        display: inline-block;
        margin-right: 10px;
        width: 28px;
      }
      
      &-text {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        margin-top: 5px;
        display: inline-block;
      }
    }
  }

  &-select {

    margin-right: 3%;
    float: right;
    
    text-transform: uppercase;
    text-align: center;
    text-align-last:center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
  }

&-table {
  max-width: 100%;
  table-layout: fixed;
  width: 100%;

    &-col {
      overflow: hidden;
      color: #fff;
      
    //  border: 1px solid #fff;
  
      font-size: 11px;
      line-height: 15px;
      text-align: center;
    }
  
    &-row {
      height: 34px;
      max-width: 100%;
      overflow: hidden;

      &-user {
        height: 34px;
        max-width: 100%;
        overflow: hidden;
        background: rgba(247, 180, 90, 0.3);
      }
    }

  & .col-player {
    text-align: center;
    width: 30%;
  }
  
  & .col-lvl {
    position: relative;
    
    &-lvl {
      display: inline-block;
      background-color: #c44c4c;
      font-size: 10px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      text-align: center;
  
      color: #fff;
    }

      &-text {
        padding-top: 2px;
        padding-left: 1px;
      }
  }

  & .col-index {
    width: 10%;
  }

  &-header {
    width: 100%;
    
    &-col {
      color: #FFF;
    //  border: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 15%;

      font-weight: bold;
      font-size: 13px;
      text-align: center;
    }

    &-row {
      height: 34px;
      max-width: 100%;
      overflow: hidden;

      border-bottom: 1px solid #fff;

      font-weight: bold;
      font-size: 13px;
      
      & .col-index {
        width: 10%;
      }
      
      & .col-player {
        width: 30%;
      }
    }
    
    &-coin {
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }

//  & tbody tr:nth-of-type(even) {
  //  background-color: rgba(97,89,73, 0.3);
//  }


  /*
  &-container {
    height: 500px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background: linear-gradient(180deg, #B4EC51 21.76%, #429321 65.5%);
      border-radius: 3px;
      border-left: 7px solid #000;
      border-right: 7px solid #000;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #B4EC51 21.76%, #429321 65.5%);
      border-radius: 3px;
    //  background: black;
      border-left: 2px solid #000;
      border-right: 2px solid #000;
    }
  } 

  &-legend {

    &-text {
      font-size: 13px;
    }
  }
  */
  }
}
